input[readonly] {
    color: #aaa;
}
select[readonly] {
    background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
    pointer-events: none;
    touch-action: none;
    color: #aaa;
}
